{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="barra-superior">
    <h1>Registrarse</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="POST">
    {% csrf_token %}
    <label>Usuario:</label>
        {{form.username}}

    <label>Contraseña:</label>
        {{form.password1}}

    <label>Repite la contraseña:</label>
        {{form.password2}}
    <input style="margin-top: 10px" class='boton' type="submit" value="Registrar">
</form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
</div>

{% endblock content %}